# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
venv/
__pycache__
.vercel

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Environments
.env
.venv
env/
ENV/
env.bak/
venv.bak/

test.py
